
.idea/.name

.idea/Angular2Learning.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.idea/dictionaries/Wayne.xml

.idea/vcs.xml

.idea/jsLibraryMappings.xml

.idea/libraries/Angular2Learning_node_modules.xml
